*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
tr th, tr td {
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgb(244,242,222);
    border-bottom: 5px solid rgb(233,179,132);
}
tr th{
    background-color: rgb(233,179,132);
    border-bottom: 5px solid rgb(244,242,222);
}
table {
    width: 70%;
}
.buttons{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

button {
  background-color: rgb(241,194,123);
  outline: none;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  box-shadow: -10px -15px 15px -1px rgba(0, 0, 0, 0.63);
}

button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

button:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

button:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}